#root {
  max-width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}




@keyframes spin {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}
.spin-once {
  animation: spin 0.2s ease-in-out;
}
