@import "tailwindcss";


@font-face {
  font-family: "Sora";
  src: url("./assets/fonts/Sora/static/Sora-Regular.woff2") format("woff2"),
       url("./assets/fonts/Sora/static/Sora-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-bg-primary: #121212;

  --color-text-white: #FFFFFF;
  --color-success: #4DD67B;
  --color-error: #D64D5B;
  --color-warning: #F4DC73;
}

body {
  font-family: "Sora", system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
  background-color: var(--color-bg-primary);
  color: var(--color-text-white)
}


